{% extends 'jadebase.html' %}
{% load l10n %}

{% block conteudo %}
    <form action="{% url 'editaformapagamento' id_forma_pagamento=id_forma_pagamento %}" method="post" class="post-form">
        {% csrf_token %}
        <table class="table">
                {{formulario.as_table}}
        </table>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a href="{% url 'pagamento' id_pagamento=formulario.instance.id_pagamento.pk %}">Voltar ao pagamento</a>
    </form>
{% endblock %}