{% extends 'jadebase.html' %}
{% load l10n %}

{% block conteudo %}
    <p>Projeto: {{projeto.nome_projeto}}</p>
    <table class="table table-bordered">
        <tbody>
            <tr bgcolor="#F0FFFF">
                <td>Valor do orçamento: <b>R$ {{valor_total_orcamento|floatformat:2}}</b></td>
                <td>Valor total dos pagamentos: <b>R$ {{valor_total_pagamentos|floatformat:2}}</b></td>
                <td>Saldo: <b>R$ {{saldo|floatformat:2}}</b></td>
            </tr>
        </tbody>
    </table>
    {% if tabelaIRRF %}
        <p><a href="{% url 'novopagamento' id_projeto=projeto.id %}"><b>Novo pagamento</b></a></p>
    {% else %}
        <div class="alert alert-danger">
            <b>Não existe uma tabela ativa de imposto de renda! Não é possível realizar novos pagamentos!</b>
        </div>
    {% endif %}
    <div class="">
        {% if lista_pagamentos %}
                {% csrf_token %}
                <table class="table table-bordered">
                  <thead>
                    <tr align="center" valign="middle" bgcolor="#ADD8E6">
                      <th scope="col">Nr</th>
                      <th scope="col">Beneficiário(a)</th>
                      <th scope="col">Item(s)</th>
                      <th scope="col">Forma de <br>pagamento</th>
                      <th scope="col">Forma de <br>comprovação</th>
                      <th scope="col">Valor bruto</th>
                      <th scope="col">ISS</th>
                      <th scope="col">INSS</th>
                      <th scope="col">IR</th>
                      <th scope="col">Total dos<br>descontos</th>
                      <th scope="col">Valor líquido</th>
                      <th scope="col">Data do <br>lançamento</th>
                      <th scope="col">Pendencias</th>
                      <th scope="col">Editar</th>
                      <td scope="col">Eliminar</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pagamento in lista_pagamentos %}
                        <tr bgcolor="{{pagamento.pendencias.cor}}">
                          <td align="center">{{forloop.counter}}</td>
                          <td align="left">{{pagamento.beneficiario}}</td>
                          <td align="left">{{pagamento.itens|linebreaks}}</td>
                          <td align="left">{{pagamento.formas|linebreaks}}</td>
                          <td align="left">{{pagamento.comprovacoes|linebreaks}}</td>
                          <td align="center">{{pagamento.valor_bruto|floatformat:2}}</td>
                          <td align="center">{{pagamento.ISS|floatformat:2}}</td>
                          <td align="center">{{pagamento.INSS|floatformat:2}}</td>
                          <td align="center">{{pagamento.IR|floatformat:2}}</td>
                          <td align="center">{{pagamento.total_descontos|floatformat:2}}</td>
                          <td align="center">{{pagamento.valor_liquido|floatformat:2}}</td>
                          <td align="center">{{pagamento.data_lancamento|date:"d/m/Y"}}</td>
                          <td align="center">{{pagamento.pendencias.msg|linebreaks}}</td>
                          <td align="center"><a href="{% url 'pagamento' id_pagamento=pagamento.id %}">Editar</a></td>
                          <td align="center">
                              <a href="{% url 'eliminapagamento' id_pagamento=pagamento.id %}">
                                <button>X</button>
                              </a>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
        {% else %}
            <p>Não existem pagamentos realizados para esse projeto</p>
            <p><a href="{% url 'novopagamento' id_projeto=projeto.id%}">Realizar um pagamento</a></p>
        {% endif %}
    </div>
{% endblock %}