{% extends 'jadebase.html' %}
{% load l10n %}

{% block conteudo %}
    <div class="">
        <h5>Nome da planilha: <b>{{arquivo.arquivo_carga.name}}</b></h5>
        {% if arquivo.filtro %}
            <div class="alert alert-danger">
                <p><b>Filtro de importação utilizado</b></p>
                <p>Nome: {{arquivo.filtro.nome_filtro}}</p>
                <p>Descrição: {{arquivo.filtro.descricao_filtro}}</p>
                <p>Parâmetros: {{arquivo.filtro.parametros}}</p>
            </div>
        {% endif %}
        <p><a href="{% url 'planilhascarregadas' %}">Retornar a lista de planilhas</a></p>
        {% if planilha %}
            <div class="alert alert-secondary">
                <form action="{% url 'exibir_planilha' id_arquivo=arquivo.id%}" method="post" class="post-form">
                    {% csrf_token %}
                    <table>
                        {{formulario.as_table}}
                    </table>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            {{planilha|safe}}
        {% else %}
            <h6>Não foi possível importar a planilha</h6>
        {% endif %}
    </div>
{% endblock %}