{% extends 'jadebase.html' %}
{% load l10n %}

{% block conteudo %}
    <div class="">
        <h5>Nome da planilha: <b>{{arquivo.arquivo_carga.name}}</b></h5>
        <p><a href="{% url 'planilhascarregadas' %}">Retornar a lista de planilhas</a></p>
        {% if planilha %}
            <form action="{% url 'exibir_planilha' id_arquivo=arquivo.id%}" method="post" class="post-form">
                {% csrf_token %}
                <table>
                    {{formulario.as_table}}
                </table>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            {{planilha|safe}}
        {% else %}
            <h6>Não foi possível importar a planilha</h6>
        {% endif %}
    </div>
{% endblock %}