{% extends 'jadebase.html' %}

{% block conteudo %}
    {% if lista_orcamentos %}
        <p>Orçamento(s) existentes(s) para o projeto <b>{{projeto}}</b></p>
            {% for orcamento in lista_orcamentos %}
                <div>
                    Identificação do orçamento:
                    <a href="{% url 'exibeorcamento' id=orcamento.id %}" >{{ orcamento.descricao_orcamento }}</a>
                </div>
            {% endfor %}
    {% else %}
        <p>Não existem orçamentos cadastrados para este projeto!</p>
    {% endif %}
    <p><a href="{% url 'novoorcamento' id_projeto=projeto.pk %}">Cadastrar novo orçamento</a></p>
    <p><a href="{% url 'planilhascarregadas' %}">Carregar de arquivo de planilha</a></p>
    <p><a href="{% url 'index' %}">Voltar para a página de projetos</a></p>
{% endblock %}

